@font-face {
  font-family: TradeGothicCondensed;
  src: url("fonts/TradeGothicLTStd-BdCn20.otf") format("opentype"); }

@font-face {
  font-family: TradeGothic;
  src: url("fonts/TradeGothicLTStd-Bold.otf") format("opentype"); }

body {
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-family: TradeGothicCondensed, Helvetica, Sans-serif; }

#sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 100;
  text-align: center;
  width: 100%; }
  #sticky-nav #nav-two {
    border-bottom: 2px solid #8f8f8f;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0 auto;
    padding: 8px 0 0 0; }
    #sticky-nav #nav-two li {
      display: inline-block;
      font-size: 24px;
      text-transform: uppercase;
      color: #707070;
      margin: 0 59px; }
      #sticky-nav #nav-two li img {
        margin: 0 6px; }
    #sticky-nav #nav-two li:hover {
      cursor: pointer; }

.container {
  margin: 0 auto; }
  @media only screen and (min-width: 1024px) {
    .container {
      width: 1000px; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
      width: 680px; } }
  @media only screen and (min-width: 568px) and (max-width: 767px) {
    .container {
      width: 400px; } }
  @media only screen and (min-width: 320px) and (max-width: 567px) {
    .container {
      width: 280px; } }

.banner {
  background-color: black;
  opacity: 0.9;
  position: relative;
  text-transform: uppercase;
  text-align: center; }

.banner:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: -8px;
  left: 0;
  border-top: 8px solid #6f6f6f;
  border-right: 0 solid transparent;
  border-left: 8px solid transparent; }

.banner:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: -8px;
  right: 0;
  border-top: 8px solid #6f6f6f;
  border-right: 8px solid transparent;
  border-left: 0 solid transparent; }

.page {
  background-attachment: fixed; }
  .page .title {
    text-transform: uppercase;
    padding-top: 65px; }
    @media only screen and (min-width: 1024px) {
      .page .title {
        font-size: 40px; } }
    @media only screen and (min-width: 320px) and (max-width: 567px) {
      .page .title {
        font-size: 24px; } }

#home {
  background-image: url(../img/bg/home.jpg); }
  @media only screen and (min-width: 1024px) {
    #home #logo {
      width: 180px;
      height: 180px; } }
  @media only screen and (min-width: 320px) and (max-width: 567px) {
    #home #logo {
      width: 130px;
      height: 130px; } }
  #home #nav {
    border-top: 2px solid #8f8f8f;
    border-bottom: 2px solid #8f8f8f;
    margin: 18px 0 25px 0;
    padding: 8px 0 0 0; }
    #home #nav li {
      vertical-align: middle;
      display: inline-block;
      text-transform: uppercase;
      color: #707070; }
      @media only screen and (min-width: 1024px) {
        #home #nav li {
          font-size: 24px;
          margin: 0 59px; } }
      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #home #nav li {
          font-size: 20px;
          margin: 0 32px; } }
      @media only screen and (min-width: 320px) and (max-width: 567px) {
        #home #nav li {
          font-size: 17px; } }
      #home #nav li img {
        margin: -8px 6px 0 6px; }
    #home #nav li:hover {
      cursor: pointer; }
  #home #hero {
    position: relative; }
    #home #hero .hero-img {
      width: 100%; }
      @media only screen and (min-width: 1024px) {
        #home #hero .hero-img {
          height: 473px; } }
      @media only screen and (min-width: 320px) and (max-width: 567px) {
        #home #hero .hero-img {
          height: 225px; } }
    #home #hero #side-feature {
      position: absolute;
      top: 105px;
      right: -12px; }
  #home #tweets {
    padding: 24px 0 60px 0; }
    #home #tweets #head {
      text-transform: uppercase;
      vertical-align: text-top;
      display: inline-block; }
      @media only screen and (min-width: 1024px) {
        #home #tweets #head {
          font-size: 25px; } }
      @media only screen and (min-width: 320px) and (max-width: 567px) {
        #home #tweets #head {
          font-size: 17px; } }
    #home #tweets #tweet {
      text-align: left;
      display: inline-block;
      vertical-align: text-top;
      color: #707070; }
      @media only screen and (min-width: 1024px) {
        #home #tweets #tweet {
          font-size: 16px;
          width: 715px; } }
      @media only screen and (min-width: 320px) and (max-width: 567px) {
        #home #tweets #tweet {
          font-size: 12px;
          width: 180px; } }

#menu {
  background-image: url(../img/textures/menu.jpg); }
  #menu .sub-title {
    font-size: 23px;
    text-transform: uppercase;
    width: 803px;
    margin: 0 auto 10px auto; }
  #menu .section {
    background-color: white;
    margin-bottom: 17px;
    position: relative;
    -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.35);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.35);
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=1px, OffY=1px, Color='#000');
    -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=1px, OffY=1px, Color='#000')"; }
    #menu .section .photo {
      position: absolute;
      top: 0;
      bottom: 0;
      background-color: red;
      background-position: center center; }
      @media only screen and (min-width: 1024px) {
        #menu .section .photo {
          width: 250px;
          height: 100%; } }
      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #menu .section .photo {
          width: 210px; } }
      @media only screen and (min-width: 320px) and (max-width: 567px) {
        #menu .section .photo {
          width: 0;
          height: 0; } }
      #menu .section .photo .banner {
        margin: 0 -8px;
        padding-top: 10px;
        text-transform: uppercase;
        color: #cccccc; }
        @media only screen and (min-width: 1024px) {
          #menu .section .photo .banner {
            width: 266px;
            font-size: 42px;
            margin-top: 40px; } }
        @media only screen and (min-width: 768px) and (max-width: 1023px) {
          #menu .section .photo .banner {
            width: 226px;
            font-size: 35px;
            line-height: 35px;
            margin-top: 35px; } }
        @media only screen and (min-width: 320px) and (max-width: 567px) {
          #menu .section .photo .banner {
            width: 296px;
            font-size: 24px;
            padding: 15px 0;
            margin-top: 16px; } }
    #menu .section .right {
      font-size: 0px;
      letter-spacing: 0px;
      word-spacing: 0px; }
      @media only screen and (min-width: 1024px) {
        #menu .section .right {
          padding: 22px;
          margin-left: 250px;
          width: 750px; } }
      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #menu .section .right {
          margin-left: 210px; } }
      @media only screen and (min-width: 320px) and (max-width: 567px) {
        #menu .section .right {
          padding: 105px 15px 15px 15px; } }
      #menu .section .right .description {
        color: #505050; }
        @media only screen and (min-width: 1024px) {
          #menu .section .right .description {
            font-size: 16px; } }
        @media only screen and (min-width: 320px) and (max-width: 567px) {
          #menu .section .right .description {
            font-size: 12px;
            font-family: Georgia;
            line-height: 18px; } }
      #menu .section .right .step {
        font-size: 19px;
        color: #252525;
        text-transform: uppercase;
        margin-bottom: 15px; }
      #menu .section .right .divider {
        border-bottom: 1px solid #cfcfcf;
        margin: 23px 0; }
      #menu .section .right .item {
        display: inline-block;
        vertical-align: text-top;
        width: 206px;
        margin: 0 14px 40px 14px; }
        #menu .section .right .item .name {
          font-size: 19px;
          color: #252525;
          text-transform: uppercase; }
        #menu .section .right .item .ingredients {
          font-size: 15px;
          font-style: italic;
          color: #898989; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    #menu #neapolitan .photo {
      background-image: url(../img/menu/neapolitan@2x.jpg); } }
  @media only screen and (-webkit-max-device-pixel-ratio: 1), only screen and (max-device-pixel-ratio: 1) {
    #menu #neapolitan .photo {
      background-image: url(../img/menu/neapolitan.jpg); } }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    #menu #american .photo {
      background-image: url(../img/menu/american@2x.jpg); } }
  @media only screen and (-webkit-max-device-pixel-ratio: 1), only screen and (max-device-pixel-ratio: 1) {
    #menu #american .photo {
      background-image: url(../img/menu/american.jpg); } }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    #menu #create-your-own .photo {
      background-image: url(../img/menu/create-your-own@2x.jpg); } }
  @media only screen and (-webkit-max-device-pixel-ratio: 1), only screen and (max-device-pixel-ratio: 1) {
    #menu #create-your-own .photo {
      background-image: url(../img/menu/create-your-own.jpg); } }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    #menu #drinks .photo {
      background-image: url(../img/menu/drinks@2x.jpg); } }
  @media only screen and (-webkit-max-device-pixel-ratio: 1), only screen and (max-device-pixel-ratio: 1) {
    #menu #drinks .photo {
      background-image: url(../img/menu/drinks.jpg); } }

#inspiration {
  background-image: url(../img/textures/inspiration.jpg); }
  #inspiration .slidesjs-previous, #inspiration .slidesjs-next {
    position: absolute;
    top: 260px;
    z-index: 99; }
  #inspiration .slidesjs-previous:hover, #inspiration .slidesjs-next:hover {
    cursor: pointer; }
  #inspiration .slidesjs-previous {
    left: 30px; }
  #inspiration .slidesjs-next {
    right: 30px; }
  #inspiration #slides {
    position: relative; }
    #inspiration #slides ul.slidesjs-pagination {
      font-size: 0px;
      letter-spacing: 0px;
      word-spacing: 0px; }
      #inspiration #slides ul.slidesjs-pagination li.slidesjs-pagination-item {
        display: inline-block;
        margin: 0 4px; }
        #inspiration #slides ul.slidesjs-pagination li.slidesjs-pagination-item a {
          background-image: url(../img/slide-dots.png);
          display: inline-block;
          height: 12px;
          width: 12px; }
        #inspiration #slides ul.slidesjs-pagination li.slidesjs-pagination-item a.active, #inspiration #slides ul.slidesjs-pagination li.slidesjs-pagination-item a:hover {
          background-position: 0 -12px; }

#about {
  background-image: url(../img/textures/about.jpg); }
  #about .divider {
    border-bottom: 1px solid #898989;
    margin: 14px 0; }
  #about .aside {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #1c1c1c;
    color: #cccccc; }
    @media only screen and (min-width: 320px) and (max-width: 567px) {
      #about .aside {
        width: 100%; } }
    #about .aside .headline {
      text-transform: uppercase; }
      @media only screen and (min-width: 1024px) {
        #about .aside .headline {
          font-size: 23px; } }
      @media only screen and (min-width: 320px) and (max-width: 567px) {
        #about .aside .headline {
          font-size: 20px; } }
    #about .aside .body {
      text-align: center;
      font-family: Georgia, Serif; }
      @media only screen and (min-width: 1024px) {
        #about .aside .body {
          font-size: 14px;
          line-height: 27px; } }
      @media only screen and (min-width: 320px) and (max-width: 567px) {
        #about .aside .body {
          font-size: 12px;
          line-height: 23px; } }
  #about #first {
    position: relative;
    margin-bottom: 12px; }
    #about #first .aside {
      padding: 15px; }
      @media only screen and (min-width: 1024px) {
        #about #first .aside {
          width: 240px;
          left: 0; } }
    @media only screen and (min-width: 1024px) {
      #about #first video {
        margin-left: 240px; } }
  #about #second, #about #third {
    position: relative;
    margin-bottom: 12px; }
    @media only screen and (min-width: 1024px) {
      #about #second img, #about #third img {
        width: 500px;
        height: 290px;
        margin-right: 500px; } }
    @media only screen and (min-width: 320px) and (max-width: 567px) {
      #about #second img, #about #third img {
        width: 280px;
        height: 180px;
        margin-bottom: 347px; } }
    #about #second .aside, #about #third .aside {
      padding: 15px; }
      @media only screen and (min-width: 1024px) {
        #about #second .aside, #about #third .aside {
          width: 500px;
          right: 0; } }
      @media only screen and (min-width: 320px) and (max-width: 567px) {
        #about #second .aside, #about #third .aside {
          width: 100%;
          top: 180px; } }

#locations {
  background-image: url(../img/textures/locations.jpg); }
  #locations .location {
    position: relative;
    margin-bottom: 16px; }
    #locations .location img {
      margin-right: 500px; }
    #locations .location .aside {
      position: absolute;
      width: 500px;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: #1c1c1c;
      color: #cccccc;
      padding: 15px; }
      #locations .location .aside .banner {
        background-color: #cecece;
        position: absolute;
        top: 24px;
        left: -8px;
        width: 516px;
        padding: 18px;
        font-size: 23px;
        color: black; }
      #locations .location .aside .banner:before {
        border-top: 8px solid #7c7c7c; }
      #locations .location .aside .banner:after {
        border-top: 8px solid #7c7c7c; }
