@import "media-queries"
@import "prefixes"

body
  text-align: center

.container
  margin: 0 auto
  width: 1000px

.banner
  background-color: #000
  opacity: 0.9
  position: relative
  width: 100px
  height: 100px
.banner:before
  content: ""
  width: 0
  height: 0
  position: absolute
  bottom: -8px
  left: 0
  border-top: 8px solid #6f6f6f
  border-right: 0 solid transparent
  border-left: 8px solid transparent
.banner:after
  content: ""
  width: 0
  height: 0
  position: absolute
  bottom: -8px
  right: 0
  border-top: 8px solid #6f6f6f
  border-right: 8px solid transparent
  border-left: 0 solid transparent

.page
  .title
    font-size: 40px
    text-transform: uppercase
#home
  background-image: url(../img/textures/home.jpg)
  #nav
    border-top: 2px solid #8f8f8f
    border-bottom: 2px solid #8f8f8f
    margin: 18px 0 25px 0
    li
      display: inline-block
      font-size: 24px
      text-transform: uppercase
      color: #707070
      margin: 0 60px

  #hero
    position: relative
    #side-feature
      position: absolute
      top: 105px
      right: -12px
  #tweets
    font-size: 25px
    text-transform: uppercase
    vertical-align: text-top
    #tweet
      font-size: 16px
      text-transform: none
      display: inline-block
      width: 715px

#menu
  background-image: url(../img/textures/menu.jpg)
  .sub-title
    font-size: 23px
    text-transform: uppercase
  .section
    background-color: #FFF
    margin-bottom: 17px
    position: relative
    +box-shadow(1px, 1px, 6px, rgba(0,0,0,0.35), 1px)
    .photo
      position: absolute
      top: 0
      bottom: 0
      background-color: red
      +tablet-landscape
        width: 250px
        height: 100%
      .banner
        margin-left: -8px
        margin-top: 40px
        width: 266px
        font-size: 42px
        text-transform: uppercase
        color: #cccccc
    .right
      padding: 22px
      margin-left: 250px
      // Remove spaces between child inline-blocks
      font-size: 0px
      letter-spacing: 0px
      word-spacing: 0px
      //
      +tablet-landscape
        width: 750px
      .description
        font-size: 16px
        color: #505050
      .divider
        border-bottom: 1px solid #cfcfcf
        margin: 23px 0
      .item
        display: inline-block
        vertical-align: text-top
        width: 235px
        margin-bottom: 40px
        .name
          font-size: 19px
          color: #252525
          text-transform: uppercase
        .ingredients
          font-size: 15px
          font-style: italic
          color: #898989

#inspiration
  background-image: url(../img/textures/inspiration.jpg)
  .slidesjs-previous, .slidesjs-next
    position: absolute
    top: 260px
    z-index: 99
  .slidesjs-previous:hover, .slidesjs-next:hover
    cursor: pointer
  .slidesjs-previous
    left: 30px
  .slidesjs-next
    right: 30px
  #slides
    position: relative
    ul.slidesjs-pagination
      font-size: 0px
      letter-spacing: 0px
      word-spacing: 0px
      li.slidesjs-pagination-item
        display: inline-block
        margin: 0 4px
        a
          background-image: url(../img/slide-dots.png)
          display: inline-block
          height: 12px
          width: 12px
        a.active, a:hover
          background-position: 0 -12px
#about
  background-image: url(../img/textures/about.jpg)
  .divider
    border-bottom: 1px solid #898989
    margin: 23px 0
  .aside
    position: absolute
    top: 0
    bottom: 0
    background-color: #1c1c1c
    color: #cccccc
    padding: 15px
    .headline
      font-size: 23px
      text-transform: uppercase
    .body
      font-size: 14px
      text-align: center
      line-height: 27px
      font-family: Georgia, Serif
  #first
    position: relative
    .aside
      width: 240px
      left: 0
    video
      margin-left: 240px
#locations
  background-image: url(../img/textures/locations.jpg)
