@import "media-queries"
@import "prefixes"

@font-face
  font-family: TradeGothicCondensed
  src: url("fonts/TradeGothicLTStd-BdCn20.otf") format("opentype")

@font-face
  font-family: TradeGothic
  src: url("fonts/TradeGothicLTStd-Bold.otf") format("opentype")

body
  text-align: center
  -webkit-font-smoothing: antialiased
  font-family: TradeGothicCondensed, Helvetica, Sans-serif

#sticky-nav
  position: fixed
  top: 0
  left: 0
  display: none
  z-index: 100
  text-align: center
  width: 100%
  #nav-two
    border-bottom: 2px solid #8f8f8f
    padding: 8px 0 0 0
    background-color: rgba(255,255,255,0.9)
    li
      vertical-align: middle
      +tablet-landscape-and-above
        font-size: 24px
        margin: 0 59px
      +tablet-portrait
        font-size: 20px
        margin: 0 32px
      +mobile-portrait
        font-size: 17px
        margin: 0 4px
      display: inline-block
      text-transform: uppercase
      color: #707070
      img
        margin: -4px 6px -4px 6px
    li:hover
      cursor: pointer
    li.social
      +mobile-portrait
        display: none

.container
  margin: 0 auto
  +tablet-landscape-and-above
    width: 1000px
  +tablet-portrait
    width: 680px
  +mobile-landscape
    width: 400px
  +mobile-portrait
    width: 280px

.banner
  background-color: #000
  opacity: 0.9
  position: relative
  text-transform: uppercase
  text-align: center
.banner:before
  content: ""
  width: 0
  height: 0
  position: absolute
  bottom: -8px
  left: 0
  border-top: 8px solid #6f6f6f
  border-right: 0 solid transparent
  border-left: 8px solid transparent
.banner:after
  content: ""
  width: 0
  height: 0
  position: absolute
  bottom: -8px
  right: 0
  border-top: 8px solid #6f6f6f
  border-right: 8px solid transparent
  border-left: 0 solid transparent

.page
  background-attachment: fixed
  padding-bottom: 17px
  .title
    +tablet-landscape-and-above
      font-size: 40px
    +tablet-portrait
      font-size: 35px
    +mobile-portrait
      font-size: 24px
    text-transform: uppercase
    padding-top: 65px

#home
  background-image: url(../img/bg/home.jpg)
  #logo
    +tablet-landscape-and-above
      width: 180px
      height: 180px
    +mobile-portrait
      width: 130px
      height: 130px
  #nav
    border-top: 2px solid #8f8f8f
    border-bottom: 2px solid #8f8f8f
    margin: 18px 0 25px 0
    padding: 8px 0 0 0
    li
      vertical-align: middle
      +tablet-landscape-and-above
        font-size: 24px
        margin: 0 59px
      +tablet-portrait
        font-size: 20px
        margin: 0 32px
      +mobile-portrait
        font-size: 17px
        margin: 0 4px
      display: inline-block
      text-transform: uppercase
      color: #707070
      img
        margin: -4px 6px -4px 6px
    li:hover
      cursor: pointer
    li.social
      +mobile-portrait
        display: none

  #hero
    position: relative
    .hero-img
      width: 100%
      +tablet-landscape-and-above
        height: 473px
      +mobile-portrait
        height: 225px
    #side-feature
      position: absolute
      top: 105px
      right: -12px
  #tweets
    padding: 24px 0 60px 0
    #head
      +tablet-landscape-and-above
        font-size: 25px
      +mobile-portrait
        font-size: 17px
      text-transform: uppercase
      vertical-align: text-top
      display: inline-block
    #tweet
      +tablet-landscape-and-above
        font-size: 16px
        width: 715px
      +mobile-portrait
        font-size: 12px
        width: 180px
      text-align: left
      display: inline-block
      vertical-align: text-top
      color: #707070

#menu
  background-image: url(../img/bg/menu.jpg)
  .sub-title
    text-transform: uppercase
    +tablet-landscape-and-above
      width: 803px
      font-size: 23px
    +tablet-portrait
      font-size: 19px
    margin: 0 auto 10px auto
  .section
    background-color: #FFF
    margin-bottom: 17px
    position: relative
    +box-shadow(1px, 1px, 6px, rgba(0,0,0,0.35), 1px)
    .photo
      position: absolute
      top: 0
      bottom: 0
      background-color: red
      background-position: center center
      +tablet-landscape-and-above
        width: 250px
        height: 100%
      +tablet-portrait
        width: 210px
      +mobile-portrait
        width: 0
        height: 0
      .banner
        margin: 0 -8px
        padding-top: 10px
        +tablet-landscape-and-above
          width: 266px
          font-size: 42px
          margin-top: 40px
        +tablet-portrait
          width: 226px
          font-size: 35px
          line-height: 35px
          margin-top: 35px
        +mobile-portrait
          width: 296px
          font-size: 24px
          padding: 15px 0
          margin-top: 16px
        +mobile-portrait
        text-transform: uppercase
        color: #cccccc
    .right
      +tablet-landscape-and-above
        padding: 22px
        margin-left: 250px
        width: 750px
      +tablet-portrait
        margin-left: 210px
        
      +mobile-portrait
        padding: 105px 15px 15px 15px
      // Remove spaces between child inline-blocks
      font-size: 0px
      letter-spacing: 0px
      word-spacing: 0px
      //
      .description
        font-family: Georgia
        +tablet-landscape-and-above
          font-size: 16px
        +mobile-portrait
          font-size: 12px
          font-family: Georgia
          line-height: 18px
        color: #505050
      .step
        font-size: 19px
        color: #252525
        text-transform: uppercase
        margin-bottom: 15px
      .divider
        border-bottom: 1px solid #cfcfcf
        margin: 23px 0
      .item
        display: inline-block
        vertical-align: text-top
        width: 206px
        margin: 0 14px 40px 14px
        .name
          font-size: 19px
          color: #252525
          text-transform: uppercase
        .ingredients
          font-size: 15px
          font-style: italic
          color: #898989
  #neapolitan
    .photo
      +retina
        background-image: url(../img/menu/neapolitan@2x.jpg)
      +non-retina
        background-image: url(../img/menu/neapolitan.jpg)
  #american
    .photo
      +retina
        background-image: url(../img/menu/american@2x.jpg)
      +non-retina
        background-image: url(../img/menu/american.jpg)
  #create-your-own
    .photo
      +retina
        background-image: url(../img/menu/create-your-own@2x.jpg)
      +non-retina
        background-image: url(../img/menu/create-your-own.jpg)
    .one, .two
      .step
        vertical-align: middle
      .step:before
        display: inline-block
        width: 18px
        height: 18px
        font-size: 15px
        line-height: 22px
        margin-right: 12px
        +border-radius(9px)
        background-color: #7a7a7a
        color: #FFF
    .one
      .step:before
        content: "1"
    .two
      .step:before
        content: "2"
  #drinks
    .photo
      +retina
        background-image: url(../img/menu/drinks@2x.jpg)
      +non-retina
        background-image: url(../img/menu/drinks.jpg)

#inspiration
  background-image: url(../img/bg/inspiration.jpg)
  .slidesjs-previous, .slidesjs-next
    position: absolute
    top: 260px
    z-index: 99
  .slidesjs-previous:hover, .slidesjs-next:hover
    cursor: pointer
  .slidesjs-previous
    left: 30px
  .slidesjs-next
    right: 30px
  #slides
    position: relative
    ul.slidesjs-pagination
      font-size: 0px
      letter-spacing: 0px
      word-spacing: 0px
      li.slidesjs-pagination-item
        display: inline-block
        margin: 0 4px
        a
          background-image: url(../img/slide-dots.png)
          display: inline-block
          height: 12px
          width: 12px
        a.active, a:hover
          background-position: 0 -12px

#about
  background-image: url(../img/bg/about.jpg)
  .divider
    border-bottom: 1px solid #898989
    margin: 14px 0
  .aside
    position: absolute
    top: 0
    bottom: 0
    background-color: #1c1c1c
    color: #cccccc
    +mobile-portrait
      width: 100%
    .headline
      +tablet-landscape-and-above
        font-size: 23px
      +mobile-portrait
        font-size: 20px
      text-transform: uppercase
    .body
      +tablet-landscape-and-above
        font-size: 14px
        line-height: 27px
      +mobile-portrait
        font-size: 12px
        line-height: 23px
      text-align: center
      font-family: Georgia, Serif
  #first
    position: relative
    margin-bottom: 12px
    .aside
      padding: 15px
      +tablet-landscape-and-above
        width: 240px
        left: 0
    video
      +tablet-landscape-and-above
        margin-left: 240px
  #second, #third
    position: relative
    margin-bottom: 12px
    .image
      +tablet-landscape-and-above
        width: 500px
        height: 290px
        margin-right: 500px
      +tablet-portrait
        width: 340px
        margin-right: 340px
        height: 360px
      +mobile-portrait
        width: 280px
        height: 180px
        margin-bottom: 347px
    .aside
      padding: 15px
      +tablet-landscape-and-above
        width: 500px
        right: 0
      +tablet-portrait
        width: 340px
        right: 0
      +mobile-portrait
        width: 100%
        top: 180px
  #second
    .image
      background-image: url(../img/about/lachlan.jpg)
      background-position: center center
  #third
    .image
      background-image: url(../img/about/bobbt.jpg)
      background-position: center center

#locations
  background-image: url(../img/bg/locations.jpg)
  .location
    position: relative
    margin-bottom: 16px
    img.photo
      margin-right: 500px
      height: 300px
    .aside
      position: absolute
      width: 500px
      height: 300px
      top: 0
      bottom: 0
      right: 0
      background-color: #1c1c1c
      color: #cccccc
      padding: 88px 15px 15px 15px
      text-transform: uppercase
      color: #cccccc
      .left
        display: inline-block
        .top
          font-size: 28px
          line-height: 12px
        .bottom
          font-size: 64px
        .address
          font-size: 24px
      .divider
        display: inline-block
        border-right: 1px solid #767676
        height: 180px
        margin: 0 15px
      .right
        width: 200px
        display: inline-block
        p
          font-size: 18px
          line-height: 44px
        .map
          text-align: left
          img
            float: left
            margin-right: 13px
      .banner
        background-color: #cecece
        position: absolute
        top: 24px
        left: -8px
        width: 516px
        padding: 18px
        font-size: 23px
        color: #000
      .banner:before
        border-top: 8px solid #7c7c7c
      .banner:after
        border-top: 8px solid #7c7c7c
