@import "media-queries"
@import "prefixes"

@font-face
  font-family: TradeGothicCondensed
  src: url("fonts/TradeGothicLTStd-BdCn20.otf") format("opentype")

@font-face
  font-family: TradeGothic
  src: url("fonts/TradeGothicLTStd-Bold.otf") format("opentype")

body
  text-align: center
  -webkit-font-smoothing: antialiased
  font-family: TradeGothicCondensed, Helvetica, Sans-serif

#sticky-nav
  position: fixed
  top: 0
  left: 0
  display: none
  z-index: 100
  text-align: center
  width: 100%
  #nav-two
    border-top: 2px solid #8f8f8f
    border-bottom: 2px solid #8f8f8f
    background-color: #FFF
    margin: 0 auto
    padding: 8px 0 0 0
    li
      display: inline-block
      font-size: 24px
      text-transform: uppercase
      color: #707070
      margin: 0 60px
    li:hover
      cursor: pointer

.container
  margin: 0 auto
  +tablet-landscape-and-above
    width: 1000px
  +tablet-portrait
    width: 680px
  +mobile-landscape
    width: 400px
  +mobile-portrait
    width: 280px

.banner
  background-color: #000
  opacity: 0.9
  position: relative
  text-transform: uppercase
  text-align: center
.banner:before
  content: ""
  width: 0
  height: 0
  position: absolute
  bottom: -8px
  left: 0
  border-top: 8px solid #6f6f6f
  border-right: 0 solid transparent
  border-left: 8px solid transparent
.banner:after
  content: ""
  width: 0
  height: 0
  position: absolute
  bottom: -8px
  right: 0
  border-top: 8px solid #6f6f6f
  border-right: 8px solid transparent
  border-left: 0 solid transparent

.page
  background-attachment: fixed
  .title
    +tablet-landscape-and-above
      font-size: 40px
    +mobile-portrait
      font-size: 24px
    text-transform: uppercase
    padding-top: 65px
#home
  background-image: url(../img/textures/home.jpg)
  #logo
    +tablet-landscape-and-above
      width: 180px
      height: 180px
    +mobile-portrait
      width: 130px
      height: 130px
  #nav
    border-top: 2px solid #8f8f8f
    border-bottom: 2px solid #8f8f8f
    margin: 18px 0 25px 0
    padding: 8px 0 0 0
    li
      +tablet-landscape-and-above
        font-size: 24px
        margin: 0 60px
      +mobile-portrait
        font-size: 17px
      display: inline-block
      text-transform: uppercase
      color: #707070
    li:hover
      cursor: pointer

  #hero
    position: relative
    .hero-img
      width: 100%
      +tablet-landscape-and-above
        height: 473px
      +mobile-portrait
        height: 225px
    #side-feature
      position: absolute
      top: 105px
      right: -12px
  #tweets
    padding: 24px 0 60px 0
    #head
      +tablet-landscape-and-above
        font-size: 25px
      +mobile-portrait
        font-size: 17px
      text-transform: uppercase
      vertical-align: text-top
      display: inline-block
    #tweet
      +tablet-landscape-and-above
        font-size: 16px
        width: 715px
      +mobile-portrait
        font-size: 12px
        width: 180px
      text-align: left
      display: inline-block
      vertical-align: text-top
      color: #707070

#menu
  background-image: url(../img/textures/menu.jpg)
  .sub-title
    font-size: 23px
    text-transform: uppercase
    width: 803px
    margin: 0 auto 10px auto
  .section
    background-color: #FFF
    margin-bottom: 17px
    position: relative
    +box-shadow(1px, 1px, 6px, rgba(0,0,0,0.35), 1px)
    .photo
      position: absolute
      top: 0
      bottom: 0
      background-color: red
      +tablet-landscape-and-above
        width: 250px
        height: 100%
      +mobile-portrait
        width: 0
        height: 0
      .banner
        +tablet-landscape-and-above
          width: 266px
          font-size: 42px
          margin: 40px -8px 0 -8px
        +mobile-portrait
          width: 296px
          font-size: 24px
          padding: 15px 0
          margin: 16px -8px 0 -8px
        +mobile-portrait
        text-transform: uppercase
        color: #cccccc
    .right
      +tablet-landscape-and-above
        padding: 22px
        margin-left: 250px
        width: 750px
      +mobile-portrait
        padding: 105px 15px 15px 15px
      // Remove spaces between child inline-blocks
      font-size: 0px
      letter-spacing: 0px
      word-spacing: 0px
      //
      .description
        +tablet-landscape-and-above
          font-size: 16px
        +mobile-portrait
          font-size: 12px
          font-family: Georgia
          line-height: 18px
        color: #505050
      .step
        font-size: 19px
        color: #252525
        text-transform: uppercase
        margin-bottom: 15px
      .divider
        border-bottom: 1px solid #cfcfcf
        margin: 23px 0
      .item
        display: inline-block
        vertical-align: text-top
        width: 206px
        margin: 0 14px 40px 14px
        .name
          font-size: 19px
          color: #252525
          text-transform: uppercase
        .ingredients
          font-size: 15px
          font-style: italic
          color: #898989

#inspiration
  background-image: url(../img/textures/inspiration.jpg)
  .slidesjs-previous, .slidesjs-next
    position: absolute
    top: 260px
    z-index: 99
  .slidesjs-previous:hover, .slidesjs-next:hover
    cursor: pointer
  .slidesjs-previous
    left: 30px
  .slidesjs-next
    right: 30px
  #slides
    position: relative
    ul.slidesjs-pagination
      font-size: 0px
      letter-spacing: 0px
      word-spacing: 0px
      li.slidesjs-pagination-item
        display: inline-block
        margin: 0 4px
        a
          background-image: url(../img/slide-dots.png)
          display: inline-block
          height: 12px
          width: 12px
        a.active, a:hover
          background-position: 0 -12px

#about
  background-image: url(../img/textures/about.jpg)
  .divider
    border-bottom: 1px solid #898989
    margin: 14px 0
  .aside
    position: absolute
    top: 0
    bottom: 0
    background-color: #1c1c1c
    color: #cccccc
    +mobile-portrait
      width: 100%
    .headline
      +tablet-landscape-and-above
        font-size: 23px
      +mobile-portrait
        font-size: 20px
      text-transform: uppercase
    .body
      +tablet-landscape-and-above
        font-size: 14px
        line-height: 27px
      +mobile-portrait
        font-size: 12px
        line-height: 23px
      text-align: center
      font-family: Georgia, Serif
  #first
    position: relative
    margin-bottom: 12px
    .aside
      padding: 15px
      +tablet-landscape-and-above
        width: 240px
        left: 0
    video
      +tablet-landscape-and-above
        margin-left: 240px
  #second, #third
    position: relative
    margin-bottom: 12px
    img
      +tablet-landscape-and-above
        width: 500px
        height: 290px
        margin-right: 500px
      +mobile-portrait
        width: 280px
        height: 180px
        margin-bottom: 347px
    .aside
      padding: 15px
      +tablet-landscape-and-above
        width: 500px
        right: 0
      +mobile-portrait
        width: 100%
        top: 180px

#locations
  background-image: url(../img/textures/locations.jpg)
  .location
    position: relative
    margin-bottom: 16px
    img
      margin-right: 500px
    .aside
      position: absolute
      width: 500px
      top: 0
      bottom: 0
      right: 0
      background-color: #1c1c1c
      color: #cccccc
      padding: 15px
      .banner
        background-color: #cecece
        position: absolute
        top: 24px
        left: -8px
        width: 516px
        padding: 18px
        font-size: 23px
        color: #000
      .banner:before
        border-top: 8px solid #7c7c7c
      .banner:after
        border-top: 8px solid #7c7c7c
